.main-container {
    .availability-ribbon {
        margin-block: 50px;

        h3 {
            color: white;
            margin: 0;
            text-align: center;

            span {
                color: #02A9E0;
            }
        }
    }
}