.main-container {
    .footer-content {
        h5 {
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 20%;
            text-align: center;
            text-transform: uppercase;
            margin: 50px 0px;
            color: white;
            width: 95%;
            margin-inline: auto;

            span {
                color: #D5B56E;
            }
        }
    }
}